@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mono;
  src: url(../../fonts/Space_Mono/SpaceMono-Regular.ttf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputClass1 {
  padding: 5px 30px;
  width: 100%;
  border-radius: 5px;
}

input{
  background-color: hsl(189, 41%, 97%);
  font-size: 24px;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
}

input:focus{
  outline: 2px solid hsl(172, 67%, 45%);
}

.invalidInput {
  outline: 2px solid red;
}

.mainBg{
  background-color: hsl(185, 41%, 84%);
  height: 1000px;
  font-family: mono;  
  font-weight: 600;
  color: hsl(186, 14%, 43%);
}

.cardColor{
  background-color: white;
  box-shadow: 0 8px 8px 4px lightblue;
}

.inputImg{
  padding-top: 13px;
  padding-left: 18px;
}

.customInput{
  height: 45px;
  width: 100%;
  border-radius: 5px;
}

.customInput::placeholder{
  color: rgba(0, 73, 77, .75);
}

.btnClass{
  background-color: hsl(183, 100%, 15%);
  color: white;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
}

.buttonNormal {
  background-color: hsl(183, 100%, 15%);
  color: white;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
}

.buttonClicked {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  height: 45px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
}

.fw{
  font-weight: 700 !important;
  color: hsl(183, 100%, 15%);
  font-size: 20px;
}

.width{
  width: 100%;
}

.buttonNormal:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}


.rightSide{
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
}

.white{
  color: white;
}

.outputs{
  color: hsl(172, 67%, 45%);
  font-weight: 700 !important;
}

.resetBtn {
  background-color: hsl(172, 67%, 45%);
  color: rgb(0, 73, 77);
  width: 100%;
  border-radius: 5px;
  font-weight: 800;
  font-size: 20px;
}

.disableReset {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  width: 100%;
  border-radius: 5px;
  font-weight: 800;
  font-size: 20px;
  opacity: .25;
}

.resetBtn:hover{
  background-color: hsl(185, 41%, 84%);
}

.smallTxt {
  font-size: 12px;
}

.normVh{
  height: auto;
}

.vh{
  height: 100vh;
}

.colorText{
  color: rgba(0, 73, 77, .5);
}